

/*svg sprites 样式*/
.si-sprites{
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

/*每一个图标样式*/
.si{
    width: 100px; 
    height: 100px;
    color: red;
}

/*图标颜色*/
.si-symbol path{
    fill: currentColor;
}

/*--定义各个图标单独的样式--*/
/*#si-xxx path{
    fill: #000000;
}*/