<% var icon_name = 'si'; %>

/*svg sprites 样式*/
.<%= icon_name %>-sprites{
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

/*每一个图标样式*/
.<%= icon_name %>{
    width: 100px; 
    height: 100px;
    color: red;
}

/*图标颜色*/
.<%= icon_name %>-symbol path{
    fill: currentColor;
}

/*--定义各个图标单独的样式--*/
/*#<%= icon_name %>-xxx path{
    fill: #000000;
}*/